
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 148 67% 10%;
    --card: 0 0% 100%;
    --card-foreground: 148 67% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 148 67% 10%;
    --primary: 174 100% 15%; /* NEU Dark Green */
    --primary-foreground: 150 20% 98%;
    --secondary: 150 20% 90%;
    --secondary-foreground: 148 67% 24%;
    --muted: 150 10% 92%;
    --muted-foreground: 148 20% 40%;
    --accent: 50 100% 50%; /* NEU Yellow */
    --accent-foreground: 174 100% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 148 20% 85%;
    --input: 148 20% 85%;
    --ring: 174 100% 15%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
